<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Te amo Perla</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='session.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>
</head>
<body>

    <h1 class="titulo">Te amo infinitamente</h1>

    <div class="texto">
        <p>Gracias por amarme tanto, gracias por siempre estar conmigo y apoyarme en las buenas y en las malas, gracias,
        por ser el amor de mi vida y gracias por darme la oportunidad de estar a tu lado y compartir cada bello momento,
        te amo con todo mi sery te hice esta bella pagina para que todo el mundo sepa cuanto te amo Perla Angeles Navarro</p>
    </div>

    <div class="btn">
        <input type="submit" class="presionar" value="Pulsame" id="boton">
        <input type="submit" class="presionar" value="Prubea" id="button">

    </div>
    <li><a href="/close-session">Cerrar Sesion</a></li>
</body>
</html>